name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 188.137.224.151
          username: botuser
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: |
            /opt/mybot/deploy.sh